In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('mercedezbenz.csv',usecols=['X1','X2'])

In [9]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [10]:
df.shape

(4209, 2)

In [11]:
pd.get_dummies(df).shape

(4209, 71)

In [12]:
len(df['X1'].unique())

27

In [13]:
len(df['X2'].unique())

44

In [16]:
for col in df.columns[0:]:
    print(col , ' : ' ,len(df[col].unique()) , ' labels')

X1  :  27  labels
X2  :  44  labels

In [17]:
# let's obtain the count for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to remap the labels

df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'p': 4,
 'av': 4,
 'ah': 4,
 'au': 3,
 'af': 1,
 'c': 1,
 'ar': 1,
 'o': 1,
 'l': 1,
 'aa': 1,
 'j': 1,
 'am': 1}

In [18]:
df_frequency_map=df.X2.value_counts().to_dict()

In [19]:
df.X2=df.X2.map(df_frequency_map)

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137